# exclude .gitignore and similar from the generated tarball
.git*           export-ignore

# exclude development assets
*.pdn           export-ignore
*.png           export-ignore
*.md            export-ignore
